version: '3.5'
services:
  nginx:
    image: nginx:latest
    networks:
      default:
        aliases:
          - inventory.example.com
    volumes:
      - source: ./integration/nginx/etc/nginx/conf.d
        target: /etc/nginx/conf.d
        type: bind
      - source: ./integration/pki
        target: /etc/ssl
        type: bind
      - source: ./integration/nginx/www
        target: /www
        type: bind
    stop_signal: SIGKILL
  openssh:
    build:
      context: integration/openssh
    networks:
      default:
        aliases:
          - ssh.example.com
    command: -o HostKeyAlgorithms=ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,ssh-ed25519,ssh-rsa
    stop_signal: SIGKILL
  openssh-rsa:
    image: herd_openssh
    networks:
      default:
        aliases:
          - ssh-rsa.example.com
    command: -o HostKeyAlgorithms=ssh-rsa
  openssh-ecdsa:
    image: herd_openssh
    networks:
      default:
        aliases:
          - ssh-ecdsa.example.com
    command: -o HostKeyAlgorithms=ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521
    stop_signal: SIGKILL
  openssh-ed25519:
    image: herd_openssh
    networks:
      default:
        aliases:
          - ssh-ed25519.example.com
    command: -o HostKeyAlgorithms=ssh-ed25519
    stop_signal: SIGKILL
  consul-server-dc1:
    image: consul:latest
    networks:
      default:
        aliases:
          - consul-server-dc1.example.com
          - consul.service.consul
    environment:
      - CONSUL_BIND_INTERFACE=eth0
      - 'CONSUL_LOCAL_CONFIG={"datacenter": "dc1", "retry_join_wan": ["consul-server-dc2.example.com"]}'
    stop_signal: SIGKILL
  consul-server-dc2:
    image: consul:latest
    networks:
      default:
        aliases:
          - consul-server-dc2.example.com
    environment:
      - 'CONSUL_BIND_INTERFACE=eth0'
      - 'CONSUL_LOCAL_CONFIG={"datacenter": "dc2", "retry_join_wan": ["consul-server-dc1.example.com"]}'
    stop_signal: SIGKILL
  consul-agent-dc1:
    image: consul:latest
    command: agent
    environment:
      - CONSUL_BIND_INTERFACE=eth0
      - 'CONSUL_LOCAL_CONFIG={"datacenter": "dc1", "retry_join": ["consul-server-dc1.example.com"]}'
    deploy:
      replicas: 5
    depends_on:
      - consul-server-dc1
    stop_signal: SIGKILL
  consul-agent-dc2:
    image: consul:latest
    command: agent
    environment:
      - CONSUL_BIND_INTERFACE=eth0
      - 'CONSUL_LOCAL_CONFIG={"datacenter": "dc2", "retry_join": ["consul-server-dc2.example.com"]}'
    deploy:
      replicas: 5
    depends_on:
      - consul-server-dc2
    stop_signal: SIGKILL
  herd:
    build:
      context: "."
      dockerfile: Dockerfile
    command: make -C integration test TEST_OPTS='--verbose --chain-lint'
    environment:
      - TEST_OPTS=--verbose
    depends_on:
      - nginx
      - openssh
      - openssh-rsa
      - openssh-ecdsa
      - openssh-ed25519
      - consul-server-dc1
      - consul-server-dc2
      - consul-agent-dc1
      - consul-agent-dc2
    volumes:
      - source: ./integration/
        target: /herd/integration/
        type: bind
  debug:
    image: herd_herd
    command: sleep 3600
    depends_on:
      - herd
    stop_signal: SIGKILL
