version: '3.5'
services:
  nginx:
    image: nginx:latest
    networks:
      default:
        aliases:
          - inventory.example.com
    volumes:
      - source: ./integration/nginx/etc/nginx/conf.d
        target: /etc/nginx/conf.d
        type: bind
      - source: ./integration/pki
        target: /etc/ssl
        type: bind
      - source: ./integration/nginx/www
        target: /www
        type: bind
  openssh:
    build:
      context: integration/openssh
    networks:
      default:
        aliases:
          - ssh.example.com
  herd:
    build:
      context: "."
      dockerfile: Dockerfile
    command: make -C integration test
    depends_on:
      - nginx
