name: Releases

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to release'
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17

      - name: Checkout
        uses: actions/checkout@v2

      - name: Build binaries
        run: make build-all

      - name: Extract tag
        id: get_tag
        run: echo ::set-output name=TAG::$(echo ${{ github.event.inputs.tag || github.ref }} | sed -e 's!refs/tags/!!')

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: herd*.tar.gz
          draft: true
          tag_name: ${{ steps.get_tag.outputs.TAG }}
          name: Version ${{ steps.get_tag.outputs.TAG }}

      - name: Trigger a homebrew update pr
        run: |
          jq -n '{"ref": "main", "inputs": { "tag": "${{ steps.get_tag.outputs.TAG }}" } }' | gh  api repos/seveas/homebrew-herd/actions/workflows/auto-update.yml/dispatches --input -
        env:
          GITHUB_TOKEN: ${{ secrets.EXTRA_GITHUB_TOKEN }}
